body,
html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  line-height: 1.8em;
  color: #666;
}


.pimg1,
.pimg11,
.pimg2,
.pimg3,
.magia1,
.magia2,
.magia3,
.magia4{
  position: relative;
  opacity: 1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment: fixed;
}

.pimg11 {
  background-image: url('segoviadia.jpg');
  min-height: 70vh;
}

.pimg2 {
  background-image: url('segovia-night.jpg');
  min-height: 70vh;
}

.pimg3 {
  background-image: url('segovia.jpg');
  min-height: 70vh;
}

.magia1 {
  background-image: url('magia1.jpg');
  min-height: 100vh;
}
.magia2 {
  background-image: url('magia2.jpg');
  min-height: 100vh;
}
.magia3 {
  background-image: url('magia3.jpg');
  min-height: 100vh;
}
.magia4 {
  background-image: url('magia4.jpg');
  min-height: 100vh;
}






.section {
  text-align: center;
  padding: 50px 80px;
}

.section-light {
  background-color: #f4f4f4;
  color: #666;
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
}

.ptext {
  font-family: lobster;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 4.9em;
  letter-spacing: 8px;

}

.ptext .border {

  color: #000;
  padding: 20px;
}

.ptext .border.trans {
  background-color: transparent;
}

.modal {
  z-index: 1;
  position: absolute;
  top: 5px;
  left: 25px;
}



@media (max-width: 568px) {

  .pimg1,
  .pimg11,
  .pimg2,
  .pimg3,
  .magia1,
  .magia2,
  .magia3,
  .magia4 {
    background-attachment: scroll;
  }

  .ptext {
    font-family: lobster;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 3.9em;
    letter-spacing: 8px;

  }

  h2 {
    font-family: lato;
  }
}
